# 基礎連線資訊
tenancy_ocid     = "" # 從 OCI 控制台獲取
user_ocid        = "" # 從 OCI 控制台獲取
fingerprint      = "" # 上傳 API Key 後獲得的指紋
private_key_path = "" # 你下載的 API 私鑰路徑值
region           = "ap-tokyo-1" # 東京區域

# 資源配置資訊
compartment_id = "" # 通常跟 tenancy_ocid 一樣
ssh_public_key = "" # 你的電腦產生的公鑰 (id_rsa.pub), VM 登入用
